*{padding:0;margin:0}
a{text-decoration:none;}
body{
    width: 100vw;
    height:100vh;
    position: relative;
    background: #fff;
}
body{
    width:100%;
    max-width: 640px;
    padding:0;
    margin: 0 auto;
    font-size: 14px;
    color:#232628
}
img {
    width: 100%;
    vertical-align: middle;
}
@media screen and (min-width: 640px){
html, body {
font-size: 24px;
}
}