.catebox {
  position: relative;
  width: 100%;
  height: calc(100vh - 3.5rem);
  padding-top: 3.14285714rem;
  .catebox-menu {
    position: absolute;
    top: 3.142857rem;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 21.06666667%;
    border-right: 1px solid #e9ecf0;
    transform: translate3d(0, 0, 0);
    overflow-x: hidden;
    overflow-y: auto;
    .catebox-menu-item {
      width: 100%;
      height: 4rem;
      line-height: 4rem;
      text-align: center;
      overflow: hidden;
      position: relative;
    }
  }
}
.catebox-menu-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 2px;
  height: 2.28571429rem;
  transform: translateY(-50%);
  background-color: transparent;
}
.catebox-menu-item.active::before {
  background-color: #ff734c;
}
.active {
  color: #ff734c;
}
.catebox-details {
  position: absolute;
  top: 3.14285714rem;
  left: 21.06666667%;
  width: 78.93333333%;
  bottom: 0;
  z-index: 2;
  transform: translate3d(0, 0, 0);
  overflow-x: hidden;
  overflow-y: auto;
}
.catebox-details-mode {
  padding: 0.85714286rem 0.85714286rem 3.14285714rem;
  .catebox-details-banner {
    height: 7rem;
    overflow: hidden;
    margin-bottom: 0.85714286rem;
    .navigation {
      position: relative;
      display: block;
      height: 7rem;
    }
  }
}
.catebox-details-body {
  // padding: 0.57142857rem 0.28571429rem;
  border-radius: 0.14285714rem;
  margin-bottom: 0.85714286rem;
  box-shadow: 0px 2px 6px 0px #e9ecf0;
}
.catebox-details-item {
  float: left;
  width: 33.33333333%;
  padding: 0.57142857rem 0;
}
.catebox-details-list {
  .navigation {
    text-align: center;
    display: block;
    img {
      width: 4rem;
      height: 4rem;
      border-radius: 100%;
      overflow: hidden;
    }
    p {
      font-size: 0.85714286rem;
      font-weight: 300;
      line-height: 1.33333333;
      max-width: 6em;
      margin: 0.57142857rem auto 0;
      color: #232323;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
.catebox-details-list:after {
  display: block;
  content: "";
  clear: both;
}
.catebox-details-title {
  display: flex;
  margin-bottom: 0.85714286rem;
  padding: 0 0.85714286rem;
}
.catebox-details-title-left,
.catebox-details-title-right {
  flex: 1;
  font-weight: normal;
  height: 1.42857143rem;
  line-height: 1.42857143rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.catebox-details-title-right {
  text-align: right;
  color: #71797f;
}
.catebox-details-list-text {
    .catebox-details-item {
        margin: 0 0 0.85714286rem;
        padding: 0;
        .navigation {
            width: 5.14285714rem;
            height: 2.57142857rem;
            margin: 0 auto;
            border-radius: 0.14285714rem;
            background: #F7F9FA;
            .catebox-details-item-desc {
                margin: 0;
                font-size: 0.85714286rem;
                color: #232628;
                line-height: 2.57142857rem;
            }
        }
    }
}
.catebox-details-list-square {
  .navigation{
  img {
    width: 5.14285714rem; 
    height: 2.85714286rem;
    border-radius: 0;
    }
  }
}
.catebox-details-pro{
  .navigation {
    img {
      width: 4rem;
      height: 4rem;
      border-radius: 100%;
      overflow: hidden;
    }
  }
}
.scroll {
  position: fixed;
  display: none;
  right: 30px;
  top: 595px;
  z-index:10;
  .scroll-item {
    display: block;
    width: 2.57142857rem;
    height: 2.57142857rem;
    line-height: 2.57142857rem;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0.28571429rem 0.42857143rem 0 #dee2e5;
    cursor: pointer;
  }
}
.active {
  color: #FF734C;
 }
.animationLeft {
  animation:Startleft .5s;
}
//homedetails
.product{
  .product-title {
    padding:0 2.26666667%;
    font-size: 0;
  }
  .product-list {
    padding:0 2.26666667%;
    font-size: 0;
  } 
  .product-item-normal {
    display: inline-block;
    width: 48.04469274%;
    margin: 0 0.97765363% 0.5rem;
    vertical-align: top;
    position: relative;
  }
}
section.main .product-item-row ,.product-item-normal{
  margin: 0 0.97765363% 0.5rem;
  border-radius: 0.57142857rem;
  overflow: hidden;
  a{
    .product-item-pic {
      position: relative;
      .product-item-tag1 {
        position: absolute;
        top: 0.57142857rem;
        left: 0;
        height: 1.42857143rem;
        line-height: 1.42857143rem;
        background-size: cover;
        background-position: right center;
        color: #ffffff;
        font-size: 0.85714286rem;
        font-weight: 500;
        padding: 0 0.42857143rem;
        background:url('../../assets/img/homedetails/m_mother_tag_bg.png') no-repeat;
      }
    }
    .product-item-info {
      position: relative;
      padding: 0.85714286rem;
      background: linear-gradient(90deg, #fff4f3 0%, #f7d3d1 100%);
      .product-item-info-header {
        .product-item-info-name {
          font-size: 0.92857143rem;
          font-weight: 400;
          color: #232628;
          line-height: 1rem;
        }
      }
      .product-item-info-desc {
        margin-top: 0.64285714rem;
        font-size: 0.85714286rem;
        font-weight: 600;
        color: #EB4247;
        max-width: 55%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .product-item-info-right {
        position: absolute;
        bottom: 0.85714286rem;
        right: 0.85714286rem;
        .product-item-info-price {
          color: #232628;
          font-size: 1.07142857rem;
          font-weight: 600;
          line-height: 1.5rem;
          vertical-align: middle;
        }
        .product-item-info-buy {
          margin-left: 1.78571429rem;
          width: 1.71428571rem;
        }
      }
      .product-item-info-name {
        font-size: 0.92857143rem;
        line-height: 1rem;
        font-weight: 400;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .product-item-info-desc {
        margin-top: 0.57142857rem;
        font-size: 0.85714286rem;
        font-weight: 600;
        color: #EB4247;
        line-height: 0.92857143rem;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .product-item-info-footer {
        margin-top: 0.85714286rem;
        .product-item-info-price {
          font-size: 1.07142857rem;
          font-weight: 600;
          line-height: 1.5rem;
        }
        .product-item-info-buy {
          float: right;
          width:1.71428571rem;
        }
      }
    }
  }
} 
.filter {
  display: flex;
  background: #fff;
  height: 3.14285714rem;
  line-height: 3.14285714rem;
  overflow: hidden;
  box-sizing: content-box;
  border-bottom: 1px solid #E9ECF0;
  .filter-item {
    flex: 1;
    text-align: center;
    .navigation {
      display: block;
    }
  }
}
.purpose {
  width: 100%;
  background-color: #fff;
  position: relative;
  .purpose-list {
    padding: 0.71428571rem 0.28571429rem;
    .purpose-item {
      float: left;
      width: 20%;
      padding: 0 0.28571429rem;
      box-sizing: border-box;
      .navigation {
        max-width: 100%;
        height: 1.71428571rem;
        line-height: 1.71428571rem;
        border: 1px solid #F7F9FA;
        background-color: #F7F9FA;
        font-size: 0.85714286rem;
        border-radius: 0.14285714rem;
        text-align: center;
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
      }
    }
  }
}
.product {
  margin-top: 0.57142857rem;
} 
.product-list .product-list-vertical{
  padding: 0 0.28571429rem 1.14285714rem;
}
.product-item.product-item-vertical {
  float: left;
  width: 50%;
  padding: 0 0.28571429rem;
  margin-bottom: 0.57142857rem;
  box-sizing: border-box;
  background-color: #fff;
}
.product-item.product-item-vertical .product-item-pic {
  max-height: 13.35714286rem;
  min-height: 13.35714286rem;
  overflow: hidden;
}
.product-item {
  .navigation {
    background: #fff;
    overflow: hidden;
    box-shadow: 0 0.28571429rem 0.85714286rem 0 #e9ecf1;
    border-radius: 0.28571429rem;
    display: block;
  }
}
.product-item.product-item-vertical .product-item-info {
    padding: 0.57142857rem 0.57142857rem 1.14285714rem;
    height: 5.85714286rem;
    overflow: hidden;
    position: relative
}
.product-item.product-item-vertical .product-item-info-tags {
  margin-bottom: 0.28571429rem;
}
.product-item-info-tags > span {
    display: inline-flex;
    border-radius: 10rem;
    border: 1px solid #FF734C;
    color: #FF734C;
    font-size: 0.71428571rem;
    padding: 0 0.28571429rem;
}
.product-item.product-item-vertical .product-item-info-name {
  font-size: 0.85714286rem;
}
.product-item-info-name {
  font-weight: 300;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product-list::after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
.purpose-list:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
.product-item-info-bottom {
  position: absolute;
  left:0.57142857rem;
  right: 0.57142857rem;;
  bottom: 3.14285714rem;
  z-index:1;
  strong {
    font-size: 1rem;
    color: #FF734C;
    font-weight: 500;    
  }
}
//动画
@keyframes Startleft {
  0% {
    transform:translate(200px) ;
  }
  100% {
    transform:translate(0) ;
  }
}